.course {
    &__title {
        height: 60px;
    }
    &__card {
        padding: 15px;
        box-shadow: 1px 1px 32px 0 rgba(50, 16, 99, 0.19);
    }
    &__button {
        text-transform: capitalize !important;
        border: 1px solid #ff00a6 !important;
        color: #ff00a6 !important;
        width: 100px;
        height: 45px;
        border-radius: 8px;
    }
}