.course {
    &__title {
        min-height: 40px;
        color: #000;
    }
    &__exhibitor {
        color: #999999;
        padding-bottom: 25px;
    }
    &__button {
        width: 90%;
        display: block;
        margin: auto;
    }
    &__footer {
        border-top: 1px solid #321065;
        color: #6C757D;
        font-size: 14px;
        margin-top: 15px;
        height: 40px;
    }
}

@media screen and (max-width: 575px) {
    .course {
        &__title {
            min-height: auto;
        }
    }
} 