@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9h555f');
  src:  url('fonts/icomoon.eot?9h555f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9h555f') format('truetype'),
    url('fonts/icomoon.woff?9h555f') format('woff'),
    url('fonts/icomoon.svg?9h555f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple-copy-2:before {
  content: "\e905";
}
.icon-facebook-copy-4:before {
  content: "\e906";
}
.icon-google-plus-copy-3:before {
  content: "\e907";
}
.icon-netflix-copy-4:before {
  content: "\e908";
}
/* .icon-tesla-copy-2 .path1:before {
  content: "\e909";
  color: rgb(228, 64, 74);
} */
.icon-tesla-copy-2:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-education:before {
  content: "\e900";
}
.icon-group:before {
  content: "\e901";
}
.icon-lectern:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
.icon-support:before {
  content: "\e904";
}
