@font-face {
	font-family: 'Conv_AvenirLTStd-Roman';
	src: url('fonts/AvenirLTStd-Roman.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Roman.woff') format('woff'), url('fonts/AvenirLTStd-Roman.ttf') format('truetype'), url('fonts/AvenirLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AvenirLTStd-Black';
	src: url('fonts/AvenirLTStd-Black.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Black.woff') format('woff'), url('fonts/AvenirLTStd-Black.ttf') format('truetype'), url('fonts/AvenirLTStd-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mt-60 {
    margin-top: 60px; 
}

img {
    margin: 0;
}

.pt-60 {
    padding-top: 60px;
}

$lg-screen: 1200px;
$md-screen: 992px;
$sm-screen: 768px;
$xs-screen: 575px;

$subtitle: 'Conv_AvenirLTStd-Black';

ul {
    margin-left: 0 !important;
}

* {
    font-family: 'Conv_AvenirLTStd-Roman'
}

.g-subtitle {
    font-family: $subtitle;
}
.mb-30 {
    margin-bottom: 30px;
}

.nav-pills .nav-link {
    border-style: solid;
    border-width: 1px;
    border-color: #EB2B63;
    color: #EB2B63;
    margin-right: 12px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #EB2B63 !important;
}

.text-white {
    color: #FFF;
}

.academy {
    padding-top: 100px;
}

// Home Styles

.home_banner-container {
    background: linear-gradient(to bottom, rgba(41,9,83,1) 0%, rgba(61,25,120,1) 100%);
    font-size: 60px;
    line-height: 1.39;
    padding-top: 100px;
    height: 80vh;
}
.home_banner-img {
    width: 45%;
    right: 0px;
    bottom: -120px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.home_banner-title {
    line-height: 130%;
    strong, 
    span {
        font-family: 'Conv_AvenirLTStd-Black' !important;
    }
}
.welcome-text {
    font-size: 60px;
}
.home_awards-container {
    margin-top: 150px;
    margin-bottom: 120px;
    img {
        margin-bottom: 0;
    }
}
.image-award-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.trophy-img,
.medal-img {
    width: 50px;
    margin-bottom: 5px !important;
    display: block;
}

.home_awards-container {
    margin-top: 60px;
}
@media (max-width: 1200px) {
    .home_banner-title {
        font-size: 45px;
    }
    .home_banner-subtitle strong{
        font-size: 55px;
    }
}

@media (max-width: 992px) {
    // .home_banner-title {
    //     font-size: 45px;
    // }
    // .home_banner-subtitle strong{
    //     font-size: 55px;
    // }
    .home_banner-img {
        right: 0;
        top: 90px;
        height: inherit;
        width: 50%;
    }
    .home_banner-title {
        font-size: 35px;
    }
    .home_banner-subtitle strong {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .home_banner-img {
        right: 0px;
        top: 150px;
    }
    .home_awards-container {
        margin-bottom: 60px;
    }
    .image-award-container {
        padding-right: 0;
        justify-content: center;
    }
    .academy {
        padding-top: 60px;
    }
    .home_banner-container{
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            background: #fff;
        }
    }
}

@media screen and (max-width: $xs-screen)  {
    .home_awards-container {
        margin-top: 30px;
    }
    .home_banner-container {
        height:  580px;
        padding-top: 30px;
        overflow: hidden;
        .position-relative {
            flex-direction: column;
        }
    }

    .home_banner-img {
        width: 300px;
        align-self: flex-end;
        right: -50px;
        top: inherit;
        bottom: 0;
    }
    .mg-sm-top-40 {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .home_banner-img {
        position: static;
        margin-bottom: 0;
    }
}