.header {
    // background-color: linear-gradient(to bottom, rgba(41,9,83,1) 0%, rgba(61,25,120,1) 100%) !important;
    background: linear-gradient(to bottom, #290953 0%, #2a1252 100%) !important;
    &__img {
        margin: 0 !important;
    }
    &__link {
        color: #fff !important;
        padding: .5rem 1rem;
    }
    &__collapse {
        padding-top: 20px;
    }
}