.awards {
    &__container {
        position: relative;
        background-image: url('http://tinyimg.io/i/0YuCsWL.png');
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 991px)  {
    .awards {
        &__container {
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 575px)  {
    .awards {
        &__container {
            margin-top: 30px;
        }
    }
}