.awards {
    &__container {
        position: relative;
        background-image: url('http://tinyimg.io/i/0YuCsWL.png');
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}