.individual {
    &__thead {
        text-align: center;
        color: #B9007E;
        font-size: 18px;
        font-weight: 700;
    }
    &__tbody {
        td {
            text-align: center;
        }
    }
    &__table {
        background-color: #fafafa !important;
        h4 {
            font-weight: 700;
        }
    } 
    .MuiToolbar-gutters {
        background-color: #fafafa !important;
    }
    .MuiPaper-root {
        background: red !important;
    }
    &__section{
        border-radius: 8px;
        margin: 0;
    }
}


@media screen and (max-width: 575px) {
   .individual__button {
       width: 100%;
   }
} 